version: '3.8'

services:
  bot:
    build: .
    container_name: wingoxxx
    restart: always
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:13
    container_name: wingoxxx_db
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:


